$primary: #6D159F;
$critical: #F44336;
$warning: #FFC107;
$minor: #4CAF50;

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fcfcfc;
}

main.container {
    padding: 0;
}

.experiencefragment {
    display: none;
}

a {
    text-decoration: none;
}


.ch-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .ch-dashboard__container {
        padding: 0 56px;
    }

    .ch-dashboard__header {
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;

        .ch-dashboard__header-content {
            width: 100%;
            display: flex;
            align-items: center;
            height: 64px;
            justify-content: space-between;

            h1 {
                font-size: 20px;
                color: #333;
                margin: 0;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .fetch-time {
                display: flex;
                align-items: center;
                gap: 5px;

                svg {
                    opacity: 0.7;
                }
            }
        }
    }

    .ch-dashboard__wraper {
        margin: 24px 0;

        .ch-dashboard__widgets {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            gap: 16px;

            .left {
                flex: 0 0 calc(70% - 8px);
                display: flex;
                flex-wrap: wrap;
            }

            .center {
                flex: 0 0 calc(15% - 10.66px);
                display: flex;
                flex-wrap: wrap;
            }

            .right {
                flex: 0 0 calc(30% - 8px);
                display: flex;
                flex-direction: column;
            }



            .type {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #888;
                margin: 0;
                line-height: 18px;
                //font-weight: 600;
            }

            .left {
                display: flex;
                flex-wrap: wrap; // allows children to wrap to the next line
                gap: 16px;


                .ch-dashboard__widget {
                    padding: 16px;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex: 1 1 calc((100% - 32px) / 3);
                    box-sizing: border-box;
                    gap: 12px;
                    border-radius: 8px;

                    .ch-dashboard__widget-icon {
                        width: 48px;
                        height: 48px;
                        background-color: #F1E8F6;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //margin-bottom: 10px;
                    }

                    .ch-dashboard__widget-content {
                        display: flex;
                        flex-direction: column;
                        //align-items: center;

                        h2 {
                            color: #333;
                            margin: 0;
                            font-size: 24px;
                            line-height: 30px;
                        }

                    }


                }

                .ch-dashboard__widget:nth-last-child(-n+4) {
                    flex: 1 1 calc((100% - 48px) / 4);
                }
            }

            .center {
                display: flex;
                flex-wrap: wrap; // allows children to wrap to the next line
                gap: 16px;


                .ch-dashboard__widget {
                    padding: 16px;
                    border-radius: 8px;
                    border: 1px solid #e0e0e0;
                    background-color: #fff;
                    width: 100%;

                    .ch-dashboard__widget-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;

                        .chart {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            width: 100%;

                            .chart__circle {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                justify-content: center;
                            }

                            .chart__content {
                                font-size: 14px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                p {
                                    margin: 0;
                                    color: #888;
                                    display: flex;
                                    justify-content: space-between;

                                    span {
                                        color: #202020
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right {
                .ch-dashboard__widget {
                    padding: 16px;
                    border-radius: 8px;
                    border: 1px solid #e0e0e0;
                    background-color: #fff;
                    height: 100%;

                    .ch-dashboard__widget-content {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .ch-dashboard__linears {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            .ch-dashboard__linear {
                                display: flex; // ✅ Flex container
                                flex-direction: row; // ✅ Default (optional, makes children horizontal)
                                gap: 16px;
                                height: 16px;
                                align-items: center;

                                .linear-left {
                                    width: 120px;
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 14px;

                                    span {
                                        &:first-child {
                                            color: #888;
                                        }

                                        // &:last-child {
                                        //     font-weight: 700;
                                        // }
                                    }
                                }

                                .linear-right {
                                    flex: 1; // ✅ Takes remaining space
                                    display: flex;
                                    height: 12px;
                                    min-height: 12px;
                                    max-height: 12px;
                                    border-radius: 12px;

                                    .linear-right-tablet {
                                        height: 100%;
                                        border-radius: 12px;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        .ch-dashboard__content {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            margin-top: 24px;
            background-color: #fff;

            .ch-dashboard__tabs {
                display: flex;
                gap: 24px;
                //height: 48px;
                border-bottom: 1px solid #e0e0e0;
                padding: 0px 20px;
                //margin-left: 40px;

                a {
                    color: #888;
                    padding: 12px 0;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 500;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--primary);
                        //font-weight: 600;
                        //border-bottom: 3px solid #6D159F;
                    }

                    &.active {
                        color: var(--primary);
                        border-bottom: 3px solid #6D159F;
                        //font-weight: 600;
                    }
                }
            }

            .ch-dashboard__content-header {
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;

                .form-control {
                    padding: 6px 12px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #333;
                    border-radius: 4px;
                    border: 1px solid #e0e0e0;
                    outline: none;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                        border-color: #e0e0e0;
                    }
                }

                .text-wraper {
                    position: relative;
                    width: 300px;
                    display: flex;

                    span {
                        display: flex;
                        align-items: center;
                        width: 40px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        justify-content: center;
                        height: 34px;
                        opacity: 0.7;
                    }

                    /* adjust as needed */
                    .clear-search {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 7px;
                        z-index: 99999;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .text-wraper .form-control {
                    padding-left: 35px;
                    /* leave space for icon */
                }

                .text {
                    width: 100%;
                }

                .text-wraper::before {
                    //content: '🔍';
                    /* Unicode for search icon */
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 16px;
                    color: #888;
                    pointer-events: none;
                }


                .select-warper {
                    position: relative;
                    display: inline-block;
                    width: 150px;
                    /* or as needed */
                }

                .select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 100%;
                    /* padding-right allows room for the arrow */
                    font-size: 14px;
                    border: 1px solid #e0e0e0;
                    border-radius: 4px;
                    background-color: #fff;
                    color: #333;
                }

                /* Arrow styling */
                .select-warper::after {
                    content: '▼';
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                    color: #555;
                    font-size: 12px;
                }


                .ch-dashboard__content-filters {
                    display: flex;
                    gap: 12px;
                }
            }


            .ch-dashboard__content-item {
                //padding: 20px;
                height: 445px;
                overflow-y: auto;
            }
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    //margin-top: 20px;
    thead {
        position: sticky;
        top: 0;
        display: table-header-group;

        tr {
            th {
                padding: 8px 20px;
            }
        }
    }

    th,
    td {
        padding: 6px 20px;
        text-align: left;
        border-bottom: 1px solid #f1f1f1;
    }

    th {
        background-color: #f9f9f9;
        font-weight: bold;
    }

    tr:hover {
        background-color: #fcfcfc;
    }

    .scrollable-tbody {
        // overflow: scroll;
        // display: block;
        // max-height: 400px;
        // overflow-y: auto;
        // overflow-x: hidden;
        // width: 100%;

        tr {
            // display: table;
            // width: 100%;
            // table-layout: fixed;
        }
    }
}

.grid-title-link {
    font-weight: 700;
    color: #202020;

    &:hover {
        color: #6D159F;
        transition: 0.3s;
    }
}

.grid-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 24px;

    &:hover {
        background-color: #f1e8f6;
        transition: 0.3s;
    }
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 85px;
    width: 85px;
    height: 28px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.badge--error {
    background-color: rgba($critical, 0.1); // 10% opacity
    color: $critical;
}

.badge--warn {
    background-color: rgba($warning, 0.1);
    color: $warning;
}

.badge--low {
    background-color: rgba($minor, 0.1);
    color: $minor;
}


.circular-progress {
    --value: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#ff6161 calc(var(--value) * 1%), #66de00 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;

    .label {
        z-index: 1;
        font-size: 14px;
    }
}



.loader-wraper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.loader {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: white;
  animation: loaderText 4s infinite;
  display:inline-block;
}

@keyframes loaderText {
  0% {
    color: #333;
    letter-spacing: 3px;
    transform: scale(0.8);
    opacity: 0;
  }
  25% {
    letter-spacing: 5px;
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    letter-spacing: 3px;
    transform: scale(1);
      opacity: 0;
  }
  100% {
    color: #333;
    letter-spacing: 3px;
    transform: scale(0.8);
    opacity: 0;
  }
}
